body{
    background-color: white;
    font-family: "Gill Sans", sans-serif;
}
.Main{
    justify-items: center;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 77%;
}
.profile{
    width: 165px;
    border-radius: 50%;
}
.Aboutme{
    display: block;
    width: 77%;
}
.skills{
    display: block;
    width: 77%;
}
.educationalbackground{
    display: block;
    width: 77%;
}
.extracurriculars{
    display: block;
    width: 77%;
}
.workexp{
    display: block;
    width: 77%;
}
.declaration{
    display: block;
    width: 77%;
}
.line{
    width: 76%;
    border: 0;
    border-top: 1px solid black;
}

@media (max-width: 768px) {

    .profile {

        width: 95px;
        height: 90px;
    }

    body {
  font-size: clamp(10px, 2vw, 13px);
}

.header h3 b {

    font-size: 10px;
}

}

